<%- include('partials/header') %>
<meta http-equiv="refresh" content="3; url='/'" />
<body class="full-page">
    <h1>Logged out successfully.</h1>
    <h1>Redirecting to home...</h1>
<%- include('partials/footer') %>