body {
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: "Kanit", sans-serif;
    font-size: 1.5rem;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsivity */

.flex-4 { display: inline-block;width: 33%;}
.flex-6 { display: inline-block;width: 45%;}

@media (max-width: 768px) {
    h1 {font-size: 2.5rem;}
    .flex-4 {display: block; width: 100%;}
    .flex-6 {display: block; width: 100%;}
}

/* Landing Page */
.container {
    background-color: #6998AB;
    max-width: 100%;
    padding: 7.5%;
}

.menubar {
    align-items: flex-end;
    background-color: #1A374D;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    margin-bottom: 40px;
    position: absolute;
}

.home-menubar {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    right: 0;
    top: 0;
    width: 500px;
}

.menu-item {
    color: white;
    font-family: "Kanit", sans-serif;
    padding: 20px 0;
}

.menubar .fa-bars {
    color: white;
    display: none;
    font-size: 1.5rem;
    padding: 10px;
}

.logo {
    aspect-ratio: initial;
    position: absolute;
}

.large-logo-home {
    height: 70px;
    left: 0;
    top: 0;
}

.small-logo-home {
    display: none;
    height: 50px;
    left: 0;
    padding: 3px 10px;
    top: 0;
}

#mockup-img {
    max-width: 80%;
}

.features-list {
    background-color: #B1D0E0;
}

.feature p {
    padding: 0 40px;
}

.features-list .fas {
    color: #1A374D;
    font-size: 8rem;
}

.call-to-action {
    margin-bottom: 80px;
}

.button {
    background-color: #1A374D;
    border-radius: 10px;
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 1.5rem;
    margin: 1%;
    padding: 10px 30px;
    text-decoration: none;
}

.pop-up-menu {
    background-color: #1A374D;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    display: none;
    font-size: 1.5rem;
    padding: 9px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.pop-up-item {
    display: block;
    font-family: "Kanit", sans-serif;
    padding: 3px 0;
}

@media screen and (max-width: 600px) {
    .large-logo-home, .home-menubar .menu-item {display: none;}
    .home-menubar { height: unset; width: unset;}
    .menubar .fa-bars, .small-logo-home {display: inline-block;}
}

/* Schedule Page */
.full-page {
    align-items: center;
    background-image: linear-gradient(to right, #6998AB, #B1D0E0);
}

.fa-sign-out-alt {
    color:  #1A374D;
    font-size: 3rem;
    position: absolute;
    right: 1%;
    top: 1%;
}

.login-box {
    background-color: white;
    border-radius: 8px;
    margin: auto;
    margin-top: 7%;
    padding: 2%;
    width: 25%;
}

.single-header {
    margin-top: 5%;
}

/* form input {
    background-color: lightgray;
    border-radius: 0.5rem;
    height: 2rem;
    margin: 1%;
    opacity: 40%;
    width: 50%
} */

.schedule-menubar {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    left: 0;
    top: 0;
    width: 500px;
}

.schedule-header {
    margin: 100px auto 80px;
    position: relative;
}

.schedule-setwidth {
    width: 900px;
}

.schedule-header h1 {
    margin: 10px;
}

.schedule-header button {
    position: absolute;
    right: 0;
}

thead {
    background-color: #406882;
    border: 1px solid black;
}

.schedule td {
    border: 1px solid black;
}

table {
    background-color: white;
    border-spacing: 0;
    margin: auto;
    table-layout: fixed;
}

.schedule td, .schedule .th{
    padding: 5px 20px;
}

.add-course-btn {
    background-color: #1A374D;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    height: 40px;
    width: 40px;
    color: white;
}

.hover {
    position: fixed;
    background-color: white;
    padding: 1%;
}

.add-class {
    top: 20%;
    width: 300px;
    left: 595px;
    border: 1px solid black;
    line-height: 35px;
    border-radius: 10px;
}

.checkbox-day {
    display: inline-block;
}

.add-class p {
    position: absolute;
    top: -10px;
    right: 20px;
    font-weight: bolder;
    cursor: pointer;
}

.add-class p:hover {
    color: lightblue;
}

.hidden {
    display: none;
}