body {
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: "Kanit", sans-serif;
    font-size: 1.5rem;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color:gray
}

/* Responsivity */

.flex-4 { display: inline-block;width: 33%;}
.flex-6 { display: inline-block;width: 45%;}

@media (max-width: 768px) {
    h1 {font-size: 2.5rem;}
    .flex-4 {display: block; width: 100%;}
    .flex-6 {display: block; width: 100%;}
}

/* Landing Page */
.container {
    background-color: #6998AB;
    max-width: 100%;
    padding: 7.5%;
}

.menubar {
    align-items: flex-end;
    background-color: #1A374D;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    margin-bottom: 40px;
    position: absolute;
}

.home-menubar {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    right: 0;
    top: 0;
    width: 500px;
}

.menu-item {
    color: white;
    font-family: "Kanit", sans-serif;
    padding: 20px 0;
}

.menubar .fa-bars {
    color: white;
    display: none;
    font-size: 1.5rem;
    padding: 10px;
}

.logo {
    aspect-ratio: initial;
    position: absolute;
}

.large-logo-home {
    height: 70px;
    left: 0;
    top: 0;
}

.small-logo-home {
    display: none;
    height: 50px;
    left: 0;
    padding: 3px 10px;
    top: 0;
}

#mockup-img {
    border: 1px solid black;
    max-width: 80%;
}

.features-list {
    background-color: #B1D0E0;
}

.feature p {
    padding: 0 40px;
}

.features-list .fas {
    color: #1A374D;
    font-size: 8rem;
}

.call-to-action {
    margin-bottom: 80px;
}

button {
    cursor: pointer;
}

.button {
    background-color: #1A374D;
    border-radius: 10px;
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 1.5rem;
    margin: 1%;
    padding: 10px 30px;
    text-decoration: none;
}

.pop-up-menu {
    background-color: #1A374D;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    display: none;
    font-size: 1.5rem;
    padding: 9px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.pop-up-item {
    display: block;
    font-family: "Kanit", sans-serif;
    padding: 3px 0;
}

@media screen and (max-width: 600px) {
    .large-logo-home, .home-menubar .menu-item {display: none;}
    .home-menubar { height: unset; width: unset;}
    .menubar .fa-bars, .small-logo-home {display: inline-block;}
}

/* Schedule Page */

.full-page {
    align-items: center;
    background-image: linear-gradient(to right, #6998AB, #B1D0E0);
    background-repeat:repeat-y;
    background-size: 140vw;
    height: 120vh;
    overflow: hidden;
    overflow: scroll;
}

.signout-button {
    position: fixed;
    right: 1%;
    top: 1%;
}

.fa-sign-out-alt {
    color:  #1A374D;
    font-size: 3rem;
}

@media screen {
    
}

.login-box {
    background-color: white;
    border-radius: 8px;
    margin: auto;
    margin-top: 7%;
    padding: 2%;
    width: 25%;
}

.single-header {
    margin-top: 5%;
}

/* form input {
    background-color: lightgray;
    border-radius: 0.5rem;
    height: 2rem;
    margin: 1%;
    opacity: 40%;
    width: 50%
} */

.schedule-menubar {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    left: 0;
    top: 0;
    width: 500px;
}

.schedule-header {
    margin: 80px auto 60px;
    position: relative;
}

.schedule-setwidth {
    width: 1200px;   
}

.schedule-header h1 {
    margin: 5px;
}

.schedule-header p {
    bottom: -50px;
    display: inline-block;
    left: 0;
    margin: 0;
    position: absolute;
}

.schedule-header button {
    position: absolute;
    right: 0;
}

thead {
    background-color: #406882;
    border: 1px solid black;
}

thead th {
    font-size: 1.2rem;
    padding: 3px 0;
}

.schedule td {
    border: 1px solid black;
}

.schedule {
    background-color: white;
    border-spacing: 0;
    height: 600px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    table-layout: fixed;
    z-index: 0;
}

.schedule td, .schedule .th{
    padding: 5px 20px;
}

.add-course-btn, .admin-btn {
    background-color: #1A374D;
    border: 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    
}

.add-course-btn {
    font-size: 2rem;
    width: 40px;
}

.hover {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    left: 50%;
    line-height: 35px;
    margin-left: -150px;
    padding: 1%;
    position: fixed;
    top: 20%;
    width: 300px;
    z-index: 2;
}

.checkbox-day, .edit-day {
    display: inline-block;
}

.hover p:first-child {
    cursor: pointer;
    font-weight: bolder;
    position: absolute;
    right: 20px;
    top: -10px;
}

.hover p:hover:first-child {
    color: lightblue;
}

.hover i {
    cursor: pointer;
    left: 20px;
    position: absolute;
    top: 17px;
}

.hover i:hover {
    color: lightblue;
}

.delete {
    border: 1px solid black;
    border-radius: 4px;
    color: red;
}

.fullscreen {
    height: 100%;
    left: 0;
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 1;
}



/* Class Schedule Blocks */
.schedule-block { 
    border-radius: 7px;
    cursor: pointer;
    position: absolute;
    width: 150px;
}

.schedule-block p {
    color: rgba(0, 0, 0, 1);
    font-family: unset;
    font-weight: bold;
    margin-top: 5px;
}

.monday {
    left: 150px;
}

.tuesday {
    left: 300px;
}

.wednesday {
    left: 450px;
}

.thursday {
    left: 600px;
}

.friday {
    left: 750px;
}

.saturday {
    left: 900px;
}

.sunday {
    left: 1050px;
}

.days {
    text-transform: capitalize;
}

/* Friends Page */

.friends-page, .groups-page {
    align-items: flex-start;
    display: flex;
    height: fit-content;
    justify-content: right;
    padding-top: 120px;
}

.add-friend, .add-group {
    text-align: left;
}

.friend-header, .groups-header {
    background-color: #406882;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin: 0 auto;
    padding: 1%;
    width: 60%;
}

.friends-list, .groups-list {
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    line-height: 0.7rem;
    margin: 0 auto;
    text-align: left;
    width: 62%;
}

.friend-entry:last-child, .request:last-child, .group-entry:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.friend-entry, .group-entry {
    border: 1px solid black;
    padding: 3% 5%;
}

.friend-entry a, .group-entry a {
    color: black;
}

.friend-entry a:hover, .group-entry a:hover {
    color: darkblue;
}

.friend-form, .friend-requests, .group-form, .new-group {
    border-radius: 16px;
    margin-bottom: 6%;
    width: 60%;
}

.friend-form, .group-form {
    background-color: white;
    border: 1px solid black;
    padding: 3%;
    padding-top: 1%;
}

.friend-form h3, .group-form h3 {
    margin-bottom: 0;
}

.friend-form input, .group-form input {
    font-family: 'Open Sans', sans-serif;
    margin: 8px 0;
    width: 60%;
}

.friend-form button, .group-form button {
    font-family: 'Open Sans', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.request {
    background-color: white;
    border: 1px solid black;
}

.friend-requests h3, .new-group h3 {
    padding-left: 5%;
}

.friend-requests p, .new-group p { 
    margin-top: -0.7em;
    padding: 0 0 0.6em 5%;
}

#req-title {
    padding-bottom: 6%;
    padding-top: 6%;
}

.friend-requests {
    background-color: #406882;
}

.friend-requests form, .new-group form {
    display: inline-block;
    margin: 0.2em -1% 1.1em 5%;
}

#accept-btn {
    border-color: green;
    color: green;
}

#decline-btn {
    border-color: red;
    color: red;
}

.friend-requests button, .new-group button {
    border-radius: 6px;
    padding: 3px 9px;
}

.friends-page .flex-6, .groups-page .flex-6 {
    margin-bottom: 10%;
}

/* Groups Page */ 
.new-group {
    background-color: white;
    border: 1px solid black;
}

.admin-btn {
    font-size: 1rem;
    padding: 10px;
}

.groupschedule .schedule-block {
    opacity: 40%;
}

.group-toggle {
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    left: 1215px;
    padding: 15px 25px;
    position: absolute;
    top: 0;
    width: fit-content;
    

}

.group-toggle h4 {
    font-size: 1.15rem;
    margin: 10px 0;
}

.toggle {
    text-align: left;
}

.toggle-box {
    border: 1px solid rgba(0, 0, 0, 1);
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    position: relative;
    right: 6px;
    top: 4px;
    width: 15px;
}

.group-toggle p:not(.hidden) {
    display: inline-block;
    margin: 10px 0;
}

.hidden {
    display: none;
}

.join-req {
    text-align: left;
    
}

.join-req:not(:last-child) {
    border-bottom: 1px solid black;
    padding-bottom: 15px;;
}

.join-req h3 {
    margin-bottom: 0;
    margin-top: 12px;
}

.join-req p {
    margin: 0 auto;
}

.join-req form {
    display: inline-block;
}

.join-req button {
    margin-right: 10px;
}